/* GENERAL! --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --ancho: 450px;
}

@import "tratamiento";
@import "contacto";
@import "index";
@import "historia";
@import "galeria";

html {
  font-size: 62.5%;
}

body {
  font-size: 16px; /* 1rem= 10px */
  font-family: "Krub", sans-serif;
  height: auto;
}

/* GENERAL!!!--------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* MEDIAS QUERY -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  /*  768px TABLET -- 1140px LAPTOP-- 480px CELULAR */
  .navegacionPrincipal {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 1339px) {
  .alineados {
    display: block;
  }
}

@media (max-width: 480px) {
  .contacto {
    width: 100%;
  }
  .alineados {
    display: block;
  }
  .redes {
    display: flex;
  }
  .video,
  .mapa,
  .imagenProfesional {
    width: auto;
  }
  .contenedorHistoria {
    width: auto;
    font-size: 25px;
    font-weight: bold;
  }
  .tratamientoGrid {
    display: block;
  }

  a img {
    width: 100%;
  }
  .modal:target {
    width: auto;
    height: 50%;
  }
  .contenedor{
    width: auto;
    height: auto;
  }
  .card_img{
    width: 100%;
    height: 50%;
  }
}
/* MEDIAS QUERY -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
