/* GENERAL! --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --ancho: 450px;
}

@import "tratamiento";
@import "contacto";
@import "index";
@import "historia";
@import "galeria";

html {
  font-size: 62.5%;
}

body {
  font-size: 16px; /* 1rem= 10px */
  font-family: "Krub", sans-serif;
  height: auto;
  background-image: url(/img/fondo-contacto.jpg);
}

/* GENERAL!!!--------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* MEDIAS QUERY -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  /*  768px TABLET -- 1140px LAPTOP-- 480px CELULAR */
  .navegacionPrincipal {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 1375px) {
  .alineados {
    display: block;
  }
  .antes_despues{
    font-size: 0%;
  }
}

@media (max-width: 480px) {
  .contacto {
    width: 100%;
  }
  .alineados {
    display: block;
  }
  .redes {
    display: flex;
  }
  
  .mapa,
  .imagenProfesional {
    width: auto;
    height: auto;
  }
  .contenedorHistoria {
    width: auto;
    font-size: 25px;
    font-weight: bold;
  }
  .tratamientoGrid {
    display: block;
  }

  .menu {
    background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    
}

.nav-logo{
width: auto;
height: 100px;
margin: 25px;
border-radius: 25px;


}
.logo {
    color: white;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
    background: none;
}

.menu_item {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu_item li {
    border-radius: 3px;
    margin: 0 5px;
}

.menu_item li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    /* ocupen todo el espacio disponible dentro del li */
    text-transform: uppercase;
    color: black;
}

.menu_item li:hover,
li.active {
    background-color: rgba(0, 0, 0, .3);
    transition: .5s;
}

.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    color: rgba(12, 11, 11, 0.561);
    cursor: pointer;
    display: none;
}

ul.mostrar {
    top: 65px;
}

@media screen and (max-width: 952px) {
    .logo {
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_item li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 858px) {
    .menu {
        margin-top: -10px;
        height: 65px;
        
        
    }
    .btn_menu {
        display: inline-flex;
    }
    .menu_item {
        position: fixed;
        z-index: 2;
        width: 100vw;
        height: calc(100% -65px);
        background: #414141;
        top: -90vh;
        text-align: center;
        transition: all .4;
        flex-direction: column;
        margin-top: 15px;
    }
    .menu_item li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_item li :hover {
        background: none;
    }
    .menu_item li a {
        font-size: 20px;
        color: rgb(253, 245, 213);
        font-weight: bold;
    }
    .menu_item li a :hover {
        color: #0097a7;
    }
    .logo {
        font-size: 25px;
        padding-left: 35px;
    }
    .nav-logo{
      height: 75px;
                 
  }
  .menu{
      height: 95px;
  }
}

@media screen and (max-width: 850px) and (orientation:landscape) {
    .menu_item li {
        margin: 5px 0 0 0;
    }
    .menu_item {
        overflow: scroll;
        height: calc(100% - 65px);
    }
}


  a img {
    width: 100%;
    
  
  }
  .modal:target {
    width: auto;
    height: 100%;
      img {
        height: 70%;
        margin-top: 60px;
      }
  }

  .contenedor{
    width: auto;
    height: auto;
  }
  
  .imagenGaleria{
    width: 100%;
    height: 50%;
  }
  .card{
    
    display: block;
    padding: 15px;
   
  }
  

  .card__img{
    width:90% ;
    height: auto;
     border-radius: 50px;
     overflow: hidden;
     margin-left: 17px
   }
   .gridTres{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.circulitos{
align-items: center;
}
.lgCreo{
  max-width: 100%;
}

.videito{
  width: fit-content;
}
  
}
/* MEDIAS QUERY -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* MENU NUEVO */